# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      valentina:
        image: paradigmasoft/valentina-server
        ports:
          - 15432:15432
          - 15434:15434
          - 15532:15532
          - 15534:15534
    steps:
    - uses: actions/checkout@v4

    - name: Copy file to Valentina service
      run: |
        docker cp ./.github/vserver.ini valentina:/opt/VServer/vserver.ini

    - name: Restart Valentina service
      run: |
        docker restart valentina

    - name: Wait for Valentina service to restart
      run: |
        echo "Waiting for Valentina service to restart..."
        sleep 10

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: Test
      run: go test -v ./...
